* {
  box-sizing: border-box;
}

body {
  margin: 40px 100px 0 100px;
  background-color: #F5F7FB;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

}

.question--content {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  color: #293264;
}

.answer--btn {
  cursor: pointer;
  min-width: 70px;
  max-width: 400px;
  height: 35px;
  border: 2px solid #4D5B9E;
  border-radius: 14px;
  background-color: #F5F7FB;
  margin: 12px 15px 0 0;
  transition: 0.2s;

}

.answer--btn:hover {
  background-color: #D6DBF5;
  transition: 0.4s;
  border: 2px solid #D6DBF5;
}

.answer--value {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #293264;
  margin: 0 13px 0 13px;
}

hr {
  border: none;
  border-top: 2px solid #DBDEF0;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 20px 0 20px 0;
}


