* {
  box-sizing: border-box;
}

body {
  margin: 40px 100px 0 100px;
  background-color: #F5F7FB;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

}

.orange-blob {
  position: absolute;
  top: -17%;
  right: -13%;
  width: 400px;
  z-index: -1;
}

.blue-blob {
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: -2;
}

.question--content {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  color: #293264;
}

.answer--btn {
  cursor: pointer;
  min-width: 70px;
  max-width: 500px;
  height: 35px;
  border: 2px solid #4D5B9E;
  border-radius: 14px;
  background-color: #F5F7FB;
  margin: 12px 15px 0 0;
  transition: 0.2s;

}

.answer--btn:hover {
  background-color: #D6DBF5;
  transition: 0.4s;
  border: 2px solid #D6DBF5;
}

.answer--value {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #293264;
  margin: 0 13px 0 13px;
}

hr {
  border: none;
  border-top: 2px solid #DBDEF0;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 20px 0 20px 0;
}

.start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
  font-family: 'Karla', sans-serif;
  font-size: 45px;
}


.start--description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 7px;
}

.start--btn {
  margin-top: 30px;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 15px;
  background-color: #4D5B9E;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #F5F7FB;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.start--btn:hover {
  background-color: #3c4b94;
  transition: 0.4s;
}

.quiz--container {
  display: flex;
  flex-direction: column;
}

.quiz--btn {
  margin: 0 auto 30px auto;
}